@import 'variables';

:host {
  ::ng-deep {
    .mat-raised-button {
      width: fit-content;
    }
    span.mat-button-wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;
      grid-gap: 10px;
    }
  }
}
