@import "variables";

.social-button-container {

}

:host{
  ::ng-deep{
    span.mat-button-wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;
      grid-gap: 10px;
    }
  }
}