<h1 mat-dialog-title>
  <strong>{{ action }}</strong>
</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="{{ action }} Name" matInput [(ngModel)]="local_data.name" />
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="{{ action }} Description" matInput [(ngModel)]="local_data.description" />
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{ action }} Price" matInput [(ngModel)]="local_data.price" />
  </mat-form-field>
  <mat-form-field>
    <img (click)="fileInput.click()" mat-card-image [src]="coverImageSrc" [alt]="coverImageSrc" />
  </mat-form-field>
  <div *ngFor="let file of selectedFiles" class="files-selected-list">
    <button appClickStopPropogation mat-button>{{file.name}}</button>
    <app-upload-task [file]="file"></app-upload-task>
  </div>

  <input formControlName="images" type="file" multiple placeholder="Choose Image" (change)="onFilesSelected($event)"
    #fileInput style="display: none" />
  <ng-template #elseTemplate> You Sure you want to delete? </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    Cancel
  </button>
</div>