<mat-toolbar>
  <button
    mat-icon-button
    color="accent"
    aria-label="Example icon button with a menu icon"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>

  <img
    class="logo"
    src="../../../assets/images/little-green-bag-logo.png"
    alt=""
  />

  <span class="spacer"></span>
  <a mat-raised-button routerLink="/checkout-page">
    <mat-icon
      matBadgeSize="small"
      [matBadge]="(cart$ | async).length"
      [matBadgeHidden]="(cart$ | async).length === 0"
      [matBadgeColor]="'warn'"
      >shopping_basket</mat-icon
    >
  </a>
</mat-toolbar>
