<mat-toolbar>
  <button
    mat-icon-button
    color="accent"
    aria-label="Example icon button with a menu icon"
    (click)="toggleSidenav()"
    class="icon--mobile"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>

  <a routerLink="/home" class="logo">
    <img src="../../../assets/images/little-green-bag-logo.png" alt="" />
  </a>

  <span class="spacer"></span>
  <a mat-raised-button routerLink="/checkout-page" class="icon--basket">
    <mat-icon
      matBadgeSize="small"
      [matBadge]="(cart$ | async).length"
      [matBadgeHidden]="(cart$ | async).length === 0"
      [matBadgeColor]="'warn'"
      >shopping_basket</mat-icon
    >
  </a>
</mat-toolbar>
