@import 'variables';

:host {
  mat-toolbar {
    background: $black;
  }
  .spacer {
    flex: 1 1 auto;
  }

  .logo {
    height: 100%;
    width: auto;
    img {
      height: 100%;
    }
  }

  button.logo {
    background-image: url('../../../../assets/images/little-green-bag-logo.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon {
    &--basket,
    &--mobile {
      background: $black;
      color: #00ff01;
    }
  }
}
