<!-- <h1>Little Green Bag</h1>

<h3>
  We are currently operating from
  <a
    href="https://www.instagram.com/little_green_bag_ireland/?hl=en"
    target="_blank"
    >Instagram</a
  >
</h3>

<div *ngIf="auth.user$ | async as user; else login">
  Welcome {{ user.displayName }}. You have successfully logged in.
  <a
    *ngIf="user.uid === '27PqJHgiSSZxeJnP5KwVSwPzbjZ2'"
    class="nav-link"
    routerLink="/products"
  >
    Click here to edit product list</a
  >
  <img [src]="user.photoURL" alt="" />
</div>
<ng-template #login>
  <form class="form-signin">
    <app-social-button
      (clicked)="auth.googleSignIn()"
      [user]="user"
      [text]="'Sign in with Google'"
    ></app-social-button>
  </form>
</ng-template>

<div *ngIf="auth.user$ | async">
  <button (click)="logout()">Logout</button>
</div> -->

<ngu-carousel
  #myCarousel
  [inputs]="carouselConfig"
  [dataSource]="carouselItems"
>
  <div *nguCarouselDef="let item" class="item">
    <div class="tile" [style.background]="'url(' + item.image + ')'"></div>
  </div>
  <button NguCarouselNext class="rightRs">></button>
  <button NguCarouselPrev class="leftRs"><</button>
  <ul class="myPoint" NguCarouselPoint>
    <li
      *ngFor="let j of myCarousel.pointNumbers; let i = index"
      [class.active]="j == myCarousel.activePoint"
      (click)="myCarousel.moveTo(j)"
    ></li>
  </ul>
</ngu-carousel>

<h1>Reset</h1>
<div>
  <label><input type="checkbox" [(ngModel)]="resetAnim" />With Animation</label>
</div>
<button (click)="reset()">reset</button>
