<h1>Little Green Bag</h1>

<h3>
  We are currently operating from
  <a
    href="https://www.instagram.com/little_green_bag_ireland/?hl=en"
    target="_blank"
    >Instagram</a
  >
</h3>

<div *ngIf="auth.user$ | async as user; else login">
  Welcome {{ user.displayName }}. You have successfully logged in.
  <a
    *ngIf="user.uid === '27PqJHgiSSZxeJnP5KwVSwPzbjZ2'"
    class="nav-link"
    routerLink="/products"
  >
    Click here to edit product list</a
  >
  <img [src]="user.photoURL" alt="" />
</div>
<ng-template #login>
  <form class="form-signin">
    <app-social-button
      (clicked)="auth.googleSignIn()"
      [user]="user"
      [text]="'Sign in with Google'"
    ></app-social-button>
  </form>
</ng-template>

<div>
  <button (click)="logout()">Logout</button>
</div>
