*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%; // 1 rem = 10px;10px/16px = 62.5%;
  @include respond(desktop) {
    font-size: 75%; // 1 rem = 12; 12/16px = 75%;
  }
  @include respond(tab) {
    font-size: 56.25%;
  }
  @include respond(phone) {
    font-size: 50%;
  }
}

.base-container {
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-rows: $header-height 0 auto $footer-height;
}
