<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Input" />
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="delete(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
