<div class="form-container">
  <form
    action=""
    (ngSubmit)="onSubmit(productForm.value)"
    [formGroup]="productForm"
  >
    <div class="group" formGroupName="product">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Name" type="text" />
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="price"
          matInput
          placeholder="Price"
          type="number"
        />
      </mat-form-field>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>
        <button (click)="delete(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
