<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="my-list">
    <img
      src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png"
      alt=""
    />
    <h3>{{ product.name }}</h3>
    <span>$</span>
    <span class="pull-right">{{ product.price }}</span>
    <div class="offer">
      Extra 5% Off. Cart value $ {{ 0.5 * product.price }}
    </div>
    <div class="offer">
      <a (click)="addToCart(product)" class="btn btn-info">Add To Cart</a>
    </div>
  </div>
</div>-->

<!-- {{ (product$ | async)?.name }} -->
<!-- <app-carousel [carouselItems]="[product$ | async]"></app-carousel> -->

<mat-card class="product-card" *ngIf="(productData$ | async) as p">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{p.name}}</mat-card-title>
    <mat-card-subtitle> €{{p.price}}</mat-card-subtitle>
  </mat-card-header>
  <app-carousel [data]="[p]"></app-carousel>
  <!-- <img mat-card-image [src]="p.imageUrl ? p.imageUrl : p.images[0]" [alt]="p.name"> -->
  <mat-card-content>
    <p>
      {{p.description}}
    </p>
  </mat-card-content>
  <!-- <mat-card-actions> -->
  <!-- <button mat-button>LIKE</button> -->
  <!-- </mat-card-actions> -->
</mat-card>