.item {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/littlegreenbag-ecb99.appspot.com/o/rigs%2Fglass%20paradise%20multi%20colour%20fumed%20cycler%20rig%202_1621444355173?alt=media&token=cd96a21a-f71a-4ed7-aebf-7483900150cb);
  height: 45rem;
  background-repeat: no-repeat;
}
