@import "../styles/variables";

.outer-container {
  display: grid;
  height: 100vh;
  grid-template-rows: $header-height 1fr $footer-height;

  .header {
    display: grid;
    mat-toolbar {
      background: $white;
    }
  }
  .body {
    background: $black;
    color: white;
    padding: 2rem;
    .inner-body {
      height: 100%;
      border: 1px solid $green;
    }
  }
  .footer {
    background-color: $white;
  }
}
