<mat-drawer-container class="app-container" autosize [hasBackdrop]="true">
  <div class="spinner" *ngIf="(loading$ | async)">
    <mat-spinner>
    </mat-spinner>
  </div>
  <mat-drawer #drawer class="app-sidenav" mode="side">
    <app-side-nav></app-side-nav>
  </mat-drawer>

  <div class="app-sidenav-content">

    <div class="outer-container">
      <section class="header">
        <app-navbar></app-navbar>
      </section>
      <section class="body">
        <div class="inner-body">
          <router-outlet></router-outlet>
        </div>
      </section>
      <section class="footer">
        <app-footer></app-footer>
      </section>
    </div>
  </div>
</mat-drawer-container>