<mat-drawer-container class="example-container" autosize [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    Side Menu
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="outer-container">
      <section class="header">
        <app-navbar></app-navbar>
      </section>
      <section class="body"><router-outlet></router-outlet></section>
      <section class="footer">
        <app-footer></app-footer>
      </section>
    </div>
  </div>
</mat-drawer-container>
