@import 'variables';
@import 'spinner';
@import 'mixins';

.app-container {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  .app-sidenav-content {
    height: 100%;
  }
}
.outer-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  .header {
    display: grid;
    mat-toolbar {
      background: $white;
    }
  }
  .body {
    .inner-body {
      height: 100%;
      border: 1px solid $green;
      position: relative;
      overflow: hidden;
      max-width: 100%;
    }
  }
  .footer {
    background-color: $white;
  }
}
