@import 'variables';

.product-card {
  margin: 0 auto;
  max-width: $product-card-max-width;
}

.product-header-image {
  background-position: center;
  background-image: url('../../../assets/images/little-green-bag-logo.png');
  background-size: cover;
}

.inputs {
  display: grid;
  align-items: center;
}

.mat-raised-button {
  width: 100%;
}

img.thumb {
  width: 100px;
}

.uploaded-images {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}
.uploaded-image {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  border: 2px solid $red;
  width: fit-content;
  justify-items: center;
}
