<div class="progress-loader" *ngIf="formSubmitted">
  <mat-spinner style="margin: 0 auto"></mat-spinner>
</div>

<div class="form-container">
  <form
    action=""
    (ngSubmit)="onSubmit(productForm.value)"
    [formGroup]="productForm"
    #f="ngForm"
  >
    <div class="group" formGroupName="product">
      <mat-form-field appearance="fill">
        <mat-label>Product Type</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of categories"
            [value]="category.value"
          >
            {{ category.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="name" matInput placeholder="Name" type="text" />
        <mat-error>
          <app-validation-errors
            [title]="'name'"
            [errors]="productForm.get('product.name').errors"
          ></app-validation-errors>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="price"
          matInput
          placeholder="Price"
          type="number"
        />
        <mat-error>
          <app-validation-errors
            [title]="'price'"
            [errors]="productForm.get('product.price').errors"
          ></app-validation-errors>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="description"
          matInput
          placeholder="Description"
          type="text"
        />
        <mat-error>
          <app-validation-errors
            [title]="'f'"
            [errors]="productForm.get('product.description').errors"
          ></app-validation-errors>
        </mat-error>
      </mat-form-field>

      <div>
        <img [src]="currentImgSrc" width="350px" height="250px" />
        <input
          formControlName="imageUrl"
          type="file"
          (change)="onFileSelected($event)"
        />
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
