<div class="form-container">
  <form [formGroup]="productForm" #f="ngForm">
    <div class="group" formGroupName="product">
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="updateObject('category', this.productForm.get('product.category').value)"
            formControlName="category">
            <mat-optgroup *ngFor="let group of categoryGroups" [label]="group.name" [disabled]="group.disabled">
              <mat-option *ngFor="let category of group.categories" [value]="category.viewValue">
                {{category.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input (input)="updateObject('name', productForm.get('product.name').value)" #inputRef formControlName="name"
            matInput placeholder="Name" type="text" />
          <mat-error>
            <app-validation-errors [title]="'name'" [errors]="productForm.get('product.name').errors">
            </app-validation-errors>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="price" matInput placeholder="Price" type="number"
            (input)="updateObject('price',productForm.get('product.price').value)" />
          <mat-error>
            <app-validation-errors [title]="'price'" [errors]="productForm.get('product.price').errors">
            </app-validation-errors>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input (input)="updateObject('description',productForm.get('product.description').value)"
            formControlName="description" matInput placeholder="Description" type="text" />
          <mat-error>
            <app-validation-errors [title]="'description'" [errors]="productForm.get('product.description').errors">
            </app-validation-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input (input)="updateObject('stockCount', productForm.get('product.stockCount').value)" #inputRef
            formControlName="stockCount" matInput placeholder="Stock Count" type="number" />
          <mat-error>
            <app-validation-errors [title]="'stockCount'" [errors]="productForm.get('product.stockCount').errors">
            </app-validation-errors>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-card class="product-card">
        <mat-card-header>
          <div mat-card-avatar class="product-header-image"></div>
          <mat-card-title>
            {{ productForm.get("product.name").value }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ productForm.get("product.category").value }} - € {{ productForm.get("product.price").value }}
          </mat-card-subtitle>
        </mat-card-header>

        <img (click)="fileInput.click()" mat-card-image [src]="defaultImageSrc" [alt]="defaultImageSrc" />

        <mat-card-content>
          <p>{{ productForm.get("product.description").value }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button appClickStopPropogation mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!f.valid">
            Submit
          </button>
        </mat-card-actions>
      </mat-card>

      <div class="files">
        <div *ngFor="let file of selectedFiles" class="files-selected-list">
          <app-upload-task (onRemove)="onRemove($event)" (complete)="onComplete($event)" [file]="file">
          </app-upload-task>
        </div>
      </div>

      <div class="images" *ngFor="let image of (selectedProduct$ | async).images">
        {{image.name}}
        <img [src]="image.url" alt="" style="height: 100px; width:100px;">
        <button appClickStopPropogation mat-raised-button color="warn" (click)="onRemove(image)">
          Delete
        </button>
      </div>

      <input type="file" multiple placeholder="Choose Image" (change)="onFilesSelected($event)" #fileInput
        style="display: none" />
    </div>
  </form>
</div>

<app-product-list></app-product-list>