<div style="display: grid;">
  <!-- <app-animated-line></app-animated-line> -->
  <button mat-raised-button>
    <app-animated-text [text]="'Rigs'"></app-animated-text>
  </button>
  <!-- <app-animated-line></app-animated-line> -->
  <button mat-raised-button>
    <app-animated-text [text]="'Bangers'"></app-animated-text>
  </button>
  <!-- <app-animated-line></app-animated-line> -->
  <button mat-raised-button>
    <app-animated-text [text]="'Accessories'"></app-animated-text>
  </button>
  <!-- <app-animated-line></app-animated-line> -->
</div>