<div style="display: grid;">
  <!-- <app-animated-line></app-animated-line> -->
  <button mat-raised-button>
    <app-animated-text [text]="'Rigs'"></app-animated-text>
  </button>
  <!-- <app-animated-line></app-animated-line> -->
  <button mat-raised-button>
    <app-animated-text [text]="'Bangers'"></app-animated-text>
  </button>
  <!-- <app-animated-line></app-animated-line> -->
  <button mat-raised-button>
    <app-animated-text [text]="'Accessories'"></app-animated-text>
  </button>
  <!-- <app-animated-line></app-animated-line> -->
</div>
<ul>
  <li *ngFor="let data of (data$ | async)">
    <app-product [data]="data"></app-product>
  </li>
</ul>
<!-- <app-carousel [data]="data$ | async"></app-carousel>
<app-product [productData$]="productData$"></app-product> -->
<!-- <app-light-gallery [data]="data$ | async" *ngIf="(data$ | async).length"></app-light-gallery> -->