@import "./styles/index.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

image {
  width: 100%;
  height: 100%;
}

::ng-deep {
  .container.mat-card {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    margin: 1rem 0;
  }

  .mat-simple-snackbar {
    text-align: center;
    text-transform: uppercase;
    display: grid !important;
    justify-content: center !important;
    padding: 1rem;
  }

  .red-snackbar {
    min-width: unset;
    border: 0.2rem solid ghostwhite;
    background: $red !important;
    color: ghostwhite;
    text-align: center;
  }

  .progress-loader {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    mat-progress-spinner {
      width: 60px !important;
      height: 60px !important;
      svg {
        width: 60px !important;
        height: 60px !important;
      }
    }
  }
}
